body{
    font-size: 16px;
    background-image: url("../../src/img/FONDO\ DEFINITIVO.png");
    background-attachment: fixed;
}

h2{
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}