// Base
@import 'base.scss';
@import 'normalize.css';

// Variables
@import 'variables.scss';

// Blocks
@import 'blocks/navbar.scss';
@import 'blocks/start.scss';
@import 'blocks/section1.scss';
@import 'blocks/section2.scss';
@import 'blocks/section3.scss';
@import 'blocks/section4.scss';

// Modal

@import 'modal.scss';