.section4{
    height: 100%;
    
    &__text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 70%;
    }
}