.section1-container{
    background-image: url("../../src/img/FONDO\ DEFINITIVO.png");
    background-attachment: fixed;
}

.section1 {
    width: 80%;
    margin: 0 auto 0 auto;   
    display: flex;
    flex-direction: row;
    text-align: center;
    //justify-content: space-around;

    &__img-container{
        img{
            width: 70%;
            height: 100vh;
            object-fit: cover;
        }
    }

    &__text{
        text-align: left;
        padding: 40px;
    }

    &__p{
        font-size: 1.6em;
        color: white;
        margin-bottom: 30px;
    }
    &__p:first-of-type::first-letter{
        font-size: 300%;
        line-height: 30px;
        color: var(--yellow);
    }
}