.section-start{
    width: 100%;
    position: relative;
    height: 100vh;
    perspective: 8px;

    &__bg{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        img{
            position: fixed;
            z-index: -1;
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }
    }

    &__title-container{
        z-index: 200;
        position: absolute;
        top: 100px;
        //left: 600px;
        right: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .section-start__title{
            img{
                width: 50vw;
            }
        }

        .section-start__subtitle{
            color: var(--yellow);
            font-size: 2em;
            font-weight: 600;
            font-style: italic;
        }
    }
}
